* {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100vw;
    height: 65vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

footer {
    background-color: lightgrey;
}



.map,
.contact,
.horaires {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    height: 100%;
    margin-top: 20px;
}

h3 {
    text-align: center;
}

.map iframe {
    width: 450px;
    height: 300px;
    margin-left: 70px;

}

.contact,
h3,
.tel {
    padding: 0.5rem;
    text-align: center;
}

.contact img {
    width: 30px;
    height: 30px;
    margin: 10px;
}


.mentionslegales {
    text-align: center;
}


.horaires table th {
    text-align: left;
    width: 30%;
}